.venv/
.env
__pycache__/
.ipynb_checkpoints/
code/summarization_agent/resources/

code/summarization_agent/summarize_text_output.json
Siemens_Assessment.pdf
code/summarization_agent/output/pdf_chunking_output.json
code/summarization_agent/output/summarize_after_chunks.json
code/summarization_agent/.adk/session.db
code/Top_level/summarization_agent/resources/Ahmed_Tamer_Samir_CV.pdf
code/Top_level/summarization_agent/resources/emptypdf.pdf
code/Top_level/summarization_agent/resources/Imagepdfonly.pdf
code/Top_level/summarization_agent/resources/zero_pages.pdf
code/Top_level/Orchestator/.adk/session.db
AI_QA.pdf
code/Top_level/summarization_agent/output/pdf_chunking_output.json
code/Top_level/summarization_agent/output/raw_extracted_data.json
code/Top_level/summarization_agent/output/summarize_after_chunks.json
task3/.venv_task3
code/Top_level/Orchestator/.adk/session.db
code/Top_level/Orchestator/.adk/session.db
